body {
    display: grid;
    grid-template-areas: ". div1 div1 div1 ."
        ". div2 div2 div2 ."
        ". div3 div3 div3 .";
    grid-row: 150px 150px 150px;
    grid-column: 5% 30% 30% 30% 5%;
}

#winImg {
    position: fixed;
    width: 70%;
    left: 14%;
    top: 18%;

}

#video {

    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.div {
    position: absolute;
    width: 180px;
    height: 250px;
    display: grid;
    grid-template-areas: ". . . . . "
        ". pname pname pname . "
        ". pscore pscore pscore ."
        ". ptime ptime ptime ."
    ;
    grid-template-rows: 15px 20px 80px 40px;
    grid-template-columns: 10% 15% 50% 15% 10%;
    text-align: center;
    color: rgb(87, 4, 4);
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(252, 251, 251);
}

p {
    text-align: center;
}

.pname {
    grid-area: pname;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    text-align: center;
}

.pscore {
    grid-area: pscore;
    font-size: 40px;
}

.ptime {
    grid-area: ptime;
}

#div1 {
    font-size: 30px;
    margin-top: 22%;
    margin-left: 42.5%;
}

#div2 {
    font-size: 15px;
    margin-top: 26%;
    margin-left: 58%;
}

#div3 {
    font-size: 15px;
    margin-top: 26%;
    margin-left: 27%;
}